## 3. 웹 스크래핑

In [1]:
import pandas as pd
from pandas import DataFrame, Series

### 1) read_clipboard() - 복사(ctrl C) 붙여넣기(ctrl V)

In [2]:
# 2. chromedriver 다운로드하여 적절한 위치에 옮기기
# 다운로드 사이트: https://sites.google.com/a/chromium.org/chromedriver/downloads
# 자신의 크롬 브라우저의 버전에 맞는 파일을 다운로드

In [3]:
코스피=pd.read_clipboard()
코스피

                                                 #일별  시세  웹페이지  url로  변경
0  삼성전자url='https://finance.naver.com/item/sise_d... NaN   NaN   NaN NaN

### 2) read_html() - html 문서 내 테이블 데이터 읽어오기

In [4]:
data = pd.read_html('https://finance.naver.com/sise/sise_market_sum.nhn', encoding='cp949')

In [5]:
data[1]

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,삼성전자,79400.0,500.0,-0.63%,100.0,4740007.0,5969783.0,53.57,22411437.0,19.06,9.99,NaN
2,2.0,SK하이닉스,119500.0,2000.0,-1.65%,5000.0,869963.0,728002.0,49.19,4565102.0,17.07,9.53,NaN
3,3.0,카카오,160500.0,2500.0,-1.53%,100.0,713359.0,444460.0,32.18,3772066.0,233.62,2.70,NaN
4,4.0,NAVER,415500.0,6500.0,-1.54%,100.0,682514.0,164263.0,57.09,1087426.0,4.23,15.22,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,49.0,고려아연,426500.0,7500.0,-1.73%,5000.0,80481.0,18870.0,21.19,55974.0,12.48,8.37,NaN
77,50.0,기업은행,10050.0,250.0,-2.43%,5000.0,74802.0,744301.0,12.80,3310867.0,4.92,6.44,NaN
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df = data[1]

In [7]:
df[df.종목명.notnull()]

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1.0,삼성전자,79400.0,500.0,-0.63%,100.0,4740007.0,5969783.0,53.57,22411437.0,19.06,9.99,NaN
2,2.0,SK하이닉스,119500.0,2000.0,-1.65%,5000.0,869963.0,728002.0,49.19,4565102.0,17.07,9.53,NaN
3,3.0,카카오,160500.0,2500.0,-1.53%,100.0,713359.0,444460.0,32.18,3772066.0,233.62,2.70,NaN
4,4.0,NAVER,415500.0,6500.0,-1.54%,100.0,682514.0,164263.0,57.09,1087426.0,4.23,15.22,NaN
5,5.0,삼성전자우,72200.0,500.0,-0.69%,100.0,594124.0,822887.0,75.72,2977110.0,17.33,NaN,NaN
9,6.0,LG화학,833000.0,26000.0,-3.03%,5000.0,588034.0,70592.0,47.09,230707.0,36.26,2.93,NaN
10,7.0,삼성바이오로직스,857000.0,6000.0,-0.70%,2500.0,567034.0,66165.0,10.14,110374.0,213.72,NaN,NaN
11,8.0,삼성SDI,736000.0,4000.0,+0.55%,5000.0,506107.0,68765.0,43.54,373437.0,72.09,4.54,NaN
12,9.0,현대차,226000.0,3500.0,-1.53%,5000.0,482890.0,213668.0,29.56,1125356.0,27.35,2.04,NaN
13,10.0,셀트리온,262000.0,4000.0,-1.50%,1000.0,361341.0,137917.0,20.54,638302.0,60.11,16.68,NaN
17,11.0,기아,86000.0,900.0,-1.04%,5000.0,348612.0,405363.0,33.59,2220368.0,15.45,5.05,NaN
18,12.0,POSCO,338000.0,1500.0,-0.44%,5000.0,294692.0,87187.0,53.88,666141.0,13.21,3.61,NaN
19,13.0,LG생활건강,1720000.0,43000.0,-2.44%,5000.0,268633.0,15618.0,46.58,34747.0,37.08,17.92,NaN
20,14.0,현대모비스,276500.0,5000.0,-1.78%,5000.0,262103.0,94793.0,36.47,456889.0,14.76,4.66,NaN
21,15.0,LG전자,159000.0,1000.0,-0.62%,5000.0,260200.0,163648.0,31.15,1388252.0,14.81,13.23,NaN
25,16.0,SK이노베이션,272000.0,3000.0,+1.12%,5000.0,251506.0,92466.0,22.90,686599.0,-25.72,-13.58,NaN
26,17.0,삼성물산,128000.0,2500.0,-1.92%,100.0,239215.0,186887.0,14.86,700391.0,15.25,3.81,NaN
27,18.0,SK텔레콤,322000.0,5000.0,+1.58%,500.0,232034.0,72060.0,45.86,366229.0,14.83,6.44,NaN
28,19.0,KB금융,50400.0,1900.0,-3.63%,5000.0,209567.0,415808.0,68.22,4052737.0,5.24,8.53,NaN
29,20.0,신한지주,38200.0,750.0,-1.93%,5000.0,197341.0,516600.0,60.60,2471313.0,5.36,8.20,NaN
33,21.0,SK,270000.0,2500.0,-0.92%,200.0,189973.0,70360.0,20.22,198174.0,31.44,1.11,NaN
34,22.0,엔씨소프트,800000.0,34000.0,-4.08%,500.0,175632.0,21954.0,52.10,167257.0,37.15,20.83,NaN
35,23.0,한국전력,24300.0,200.0,-0.82%,5000.0,155997.0,641964.0,15.40,2960876.0,7.59,2.91,NaN
36,24.0,HMM,44650.0,1000.0,-2.19%,5000.0,154218.0,345392.0,13.06,7292992.0,42.32,8.93,NaN
37,25.0,LG,97100.0,1300.0,-1.32%,5000.0,152739.0,157301.0,33.39,391152.0,8.91,7.50,NaN
41,26.0,삼성생명,75600.0,1500.0,-1.95%,500.0,151200.0,200000.0,13.38,596657.0,7.12,3.53,NaN
42,27.0,SK아이이테크놀로지,209000.0,4000.0,+1.95%,1000.0,149012.0,71298.0,6.62,1252883.0,NaN,11.00,NaN
43,28.0,삼성에스디에스,182000.0,2000.0,-1.09%,500.0,140828.0,77378.0,11.92,180498.0,22.38,6.71,NaN
44,29.0,아모레퍼시픽,239500.0,8000.0,-3.23%,500.0,140008.0,58458.0,33.75,254876.0,167.60,0.78,NaN
45,30.0,삼성전기,182000.0,0.0,0.00%,5000.0,135943.0,74694.0,31.61,568171.0,20.03,10.92,NaN
49,31.0,하나금융지주,42500.0,1150.0,-2.63%,5000.0,127603.0,300242.0,68.24,2094260.0,4.53,8.96,NaN
50,32.0,SK바이오사이언스,160500.0,3000.0,+1.90%,500.0,122782.0,76500.0,3.83,725755.0,124.71,13.25,NaN
51,33.0,포스코케미칼,158500.0,500.0,-0.31%,500.0,122779.0,77463.0,8.43,855317.0,190.50,2.96,NaN
52,34.0,하이브,308000.0,14000.0,+4.76%,500.0,120129.0,39003.0,14.42,660649.0,109.57,12.52,NaN
53,35.0,S-Oil,102000.0,1000.0,+0.99%,2500.0,114834.0,112583.0,77.60,327173.0,27.71,-13.07,NaN
57,36.0,넷마블,133500.0,1500.0,-1.11%,100.0,114748.0,85954.0,23.02,332056.0,36.32,6.35,NaN
58,37.0,KT&G,82200.0,800.0,-0.96%,5000.0,112854.0,137292.0,37.83,832949.0,9.80,13.22,NaN
59,38.0,두산중공업,26100.0,850.0,+3.37%,5000.0,111623.0,427676.0,7.76,11327909.0,-14.66,-37.20,NaN
60,39.0,대한항공,30300.0,700.0,-2.26%,5000.0,105390.0,347821.0,10.85,4348502.0,12.95,-7.22,NaN
61,40.0,SK바이오팜,128000.0,2000.0,-1.54%,500.0,100241.0,78313.0,7.01,423223.0,-185.78,-135.18,NaN
65,41.0,삼성화재,209500.0,3500.0,-1.64%,500.0,99250.0,47375.0,48.27,127905.0,10.44,4.96,NaN
66,42.0,한국조선해양,124500.0,1500.0,-1.19%,5000.0,88113.0,70773.0,17.61,562901.0,-9.53,-7.42,NaN
67,43.0,롯데케미칼,253000.0,6000.0,-2.32%,5000.0,86717.0,34275.0,26.27,199989.0,11.68,1.22,NaN
68,44.0,한온시스템,15950.0,400.0,-2.45%,100.0,85141.0,533800.0,18.70,1789135.0,63.04,5.09,NaN
69,45.0,KT,32150.0,350.0,-1.08%,5000.0,83947.0,261112.0,44.27,1459338.0,11.16,4.76,NaN
73,46.0,LG디스플레이,23050.0,450.0,-1.91%,5000.0,82477.0,357816.0,19.47,3307486.0,24.42,-0.79,NaN
74,47.0,한화솔루션,42900.0,1000.0,-2.28%,5000.0,82058.0,191278.0,17.21,1644305.0,11.50,5.30,NaN
75,48.0,우리금융지주,11150.0,300.0,-2.62%,5000.0,80533.0,722268.0,25.85,3177397.0,5.53,5.87,NaN
76,49.0,고려아연,426500.0,7500.0,-1.73%,5000.0,80481.0,18870.0,21.19,55974.0,12.48,8.37,NaN
77,50.0,기업은행,10050.0,250.0,-2.43%,5000.0,74802.0,744301.0,12.80,3310867.0,4.92,6.44,NaN

In [8]:
#시가총액이 높으 ㄴ상위 500개 기업의 데이터 읽어오기
코스피500 =[]

url='https://finance.naver.com/sise/sise_market_sum.nhn?&page='
for num in range(1,11):
    full_url = url + str(num)
    data = pd.read_html(full_url, encoding ='cp949')
    df = data[1]
    df = df[df.종목명.notnull()]
    코스피500.append(df)

In [9]:
코스피500[1]

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,51.0,현대글로비스,199000.0,1500.0,-0.75%,500.0,74625.0,37500.0,34.99,131226.0,12.97,12.45,NaN
2,52.0,현대제철,51600.0,1000.0,-1.90%,5000.0,68858.0,133446.0,19.99,1098667.0,-65.73,-2.59,NaN
3,53.0,CJ제일제당,442500.0,3500.0,-0.78%,5000.0,66615.0,15054.0,25.15,49601.0,17.80,13.50,NaN
4,54.0,금호석유,216000.0,0.0,0.00%,5000.0,65810.0,30468.0,23.01,351564.0,7.77,20.18,NaN
5,55.0,LG유플러스,14600.0,0.0,0.00%,5000.0,63745.0,436611.0,33.35,2380685.0,12.30,6.46,NaN
9,56.0,현대건설,57100.0,600.0,-1.04%,5000.0,63584.0,111356.0,21.67,1142017.0,51.63,1.84,NaN
10,57.0,한국타이어앤테크놀로지,49800.0,300.0,-0.60%,500.0,61690.0,123875.0,41.97,254962.0,13.72,5.12,NaN
11,58.0,SKC,160000.0,2000.0,+1.27%,5000.0,60589.0,37868.0,13.83,372391.0,-2539.68,2.21,NaN
12,59.0,미래에셋증권,9030.0,260.0,-2.80%,5000.0,57369.0,635316.0,14.28,2615771.0,7.20,8.94,NaN
13,60.0,코웨이,76100.0,1700.0,-2.19%,500.0,56162.0,73800.0,59.37,210852.0,13.09,31.51,NaN
17,61.0,한미사이언스,82300.0,2000.0,-2.37%,500.0,55392.0,67305.0,1.74,343351.0,200.24,3.47,NaN
18,62.0,강원랜드,25450.0,400.0,-1.55%,500.0,54448.0,213940.0,19.53,1133775.0,-33.89,-7.92,NaN
19,63.0,LG이노텍,227500.0,1000.0,-0.44%,5000.0,53843.0,23667.0,31.30,160693.0,13.23,10.20,NaN
20,64.0,한국금융지주,95200.0,2700.0,-2.76%,5000.0,53051.0,55726.0,32.70,385336.0,4.25,16.27,NaN
21,65.0,현대중공업지주,66600.0,500.0,-0.75%,1000.0,52609.0,78993.0,17.22,243593.0,-23.26,-8.12,NaN
25,66.0,아모레G,60800.0,1200.0,-1.94%,500.0,50135.0,82458.0,17.78,316363.0,119.22,0.31,NaN
26,67.0,두산밥캣,48600.0,150.0,+0.31%,500.0,48721.0,100249.0,25.92,380392.0,14.79,6.15,NaN
27,68.0,오리온,117000.0,1500.0,-1.27%,500.0,46257.0,39536.0,39.07,102793.0,17.38,15.50,NaN
28,69.0,맥쿼리인프라,12350.0,50.0,+0.41%,0.0,45966.0,372192.0,15.03,1056515.0,NaN,NaN,NaN
29,70.0,삼성엔지니어링,23000.0,150.0,+0.66%,5000.0,45080.0,196000.0,30.64,3134012.0,15.93,16.75,NaN
33,71.0,유한양행,61800.0,1700.0,-2.68%,1000.0,43243.0,69973.0,18.51,460873.0,45.08,11.06,NaN
34,72.0,팬오션,7940.0,200.0,-2.46%,1000.0,42445.0,534570.0,11.21,8512669.0,33.79,3.25,NaN
35,73.0,이마트,152000.0,3000.0,-1.94%,5000.0,42371.0,27876.0,32.19,220114.0,10.48,4.05,NaN
36,74.0,한진칼,62200.0,2500.0,-3.86%,2500.0,41428.0,66605.0,15.03,197498.0,-50.65,-19.55,NaN
37,75.0,CJ대한통운,181500.0,2500.0,+1.40%,5000.0,41404.0,22812.0,23.06,64737.0,34.49,3.89,NaN
41,76.0,삼성중공업,6550.0,150.0,-2.24%,5000.0,41265.0,630000.0,14.09,6825982.0,-2.30,-33.06,NaN
42,77.0,한미약품,339000.0,4000.0,-1.17%,2500.0,40945.0,12078.0,13.37,54797.0,174.47,1.65,NaN
43,78.0,GS,44050.0,650.0,-1.45%,5000.0,40929.0,92915.0,19.44,246094.0,6.46,-2.82,NaN
44,79.0,쌍용C&E,8060.0,50.0,-0.62%,100.0,40611.0,503860.0,3.46,1321667.0,29.42,7.92,NaN
45,80.0,F&F,527000.0,19000.0,+3.74%,500.0,40376.0,7661.0,10.64,67162.0,NaN,NaN,NaN
49,81.0,삼성카드,34650.0,750.0,-2.12%,5000.0,40145.0,115859.0,8.43,426196.0,9.45,5.69,NaN
50,82.0,현대차2우B,109500.0,2500.0,-2.23%,5000.0,39952.0,36485.0,61.22,110204.0,13.25,NaN,NaN
51,83.0,롯데지주,37700.0,750.0,-1.95%,200.0,39551.0,104909.0,8.36,409649.0,-92.63,-3.03,NaN
52,84.0,KODEX 200,42800.0,460.0,-1.06%,0.0,39269.0,91750.0,3.69,7531991.0,NaN,NaN,NaN
53,85.0,효성티앤씨,890000.0,1000.0,-0.11%,5000.0,38516.0,4328.0,23.24,58718.0,15.03,25.10,NaN
57,86.0,삼성증권,42850.0,1050.0,-2.39%,5000.0,38265.0,89300.0,28.22,478532.0,4.90,9.89,NaN
58,87.0,DB손해보험,53500.0,1500.0,-2.73%,500.0,37878.0,70800.0,43.50,197840.0,6.11,9.08,NaN
59,88.0,녹십자,321500.0,6000.0,-1.83%,5000.0,37572.0,11687.0,21.15,59516.0,37.52,7.48,NaN
60,89.0,호텔신라,92700.0,100.0,-0.11%,5000.0,36383.0,39248.0,19.53,542022.0,-17.54,-36.74,NaN
61,90.0,GS건설,42050.0,100.0,-0.24%,5000.0,35987.0,85581.0,26.37,740349.0,10.11,7.68,NaN
65,91.0,신풍제약,67100.0,1800.0,+2.76%,500.0,35553.0,52985.0,8.66,3705981.0,780.23,1.72,NaN
66,92.0,현대오토에버,128000.0,1500.0,+1.19%,500.0,35103.0,27424.0,1.45,76245.0,45.62,11.09,NaN
67,93.0,대우조선해양,32700.0,600.0,-1.80%,5000.0,35084.0,107291.0,7.15,509749.0,-8.98,2.27,NaN
68,94.0,NH투자증권,12300.0,200.0,-1.60%,5000.0,34613.0,281409.0,17.81,753237.0,4.60,10.32,NaN
69,95.0,두산인프라코어,14450.0,0.0,0.00%,5000.0,33408.0,231195.0,9.72,0.0,13.75,6.47,NaN
73,96.0,한국항공우주,33750.0,250.0,+0.75%,5000.0,32898.0,97475.0,13.80,748739.0,427.22,6.39,NaN
74,97.0,일진머티리얼즈,71000.0,700.0,-0.98%,500.0,32739.0,46111.0,9.42,431550.0,81.42,7.23,NaN
75,98.0,한국가스공사,35250.0,150.0,-0.42%,5000.0,32540.0,92313.0,6.75,430275.0,-16.58,-2.24,NaN
76,99.0,휠라홀딩스,53000.0,2000.0,-3.64%,1000.0,32199.0,60752.0,46.70,538217.0,16.91,10.94,NaN
77,100.0,한화시스템,16900.0,300.0,-1.74%,5000.0,31927.0,188919.0,2.69,1155952.0,19.34,9.35,NaN

In [10]:
data = pd.concat(코스피500)

In [11]:
data

,N,종목명,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE,토론실
1,1.0,삼성전자,79400.0,500.0,-0.63%,100.0,4740007.0,5969783.0,53.57,22411437.0,19.06,9.99,NaN
2,2.0,SK하이닉스,119500.0,2000.0,-1.65%,5000.0,869963.0,728002.0,49.19,4565102.0,17.07,9.53,NaN
3,3.0,카카오,160500.0,2500.0,-1.53%,100.0,713359.0,444460.0,32.18,3772066.0,233.62,2.70,NaN
4,4.0,NAVER,415500.0,6500.0,-1.54%,100.0,682514.0,164263.0,57.09,1087426.0,4.23,15.22,NaN
5,5.0,삼성전자우,72200.0,500.0,-0.69%,100.0,594124.0,822887.0,75.72,2977110.0,17.33,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,496.0,JW생명과학,18700.0,300.0,-1.58%,2500.0,2961.0,15835.0,4.26,85585.0,18.83,13.25,NaN
74,497.0,성신양회,12050.0,250.0,-2.03%,5000.0,2954.0,24516.0,4.75,387459.0,16.64,2.53,NaN
75,498.0,KODEX 선진국MSCI World,19500.0,60.0,-0.31%,0.0,2944.0,15100.0,0.00,39712.0,NaN,NaN,NaN
76,499.0,광주신세계,183500.0,6500.0,-3.42%,5000.0,2936.0,1600.0,12.21,3020.0,6.39,6.35,NaN
77,500.0,에어부산,3575.0,0.0,0.00%,1000.0,2934.0,82070.0,0.46,0.0,-1.50,NaN,NaN

In [12]:
data.to_html('data/코스피500데이터.html', encoding='cp949')

In [13]:
#삼성전자의 일별 시세 가져오기
삼성전자url='https://finance.naver.com/item/sise.nhn?code=005930'
data=pd.read_html(삼성전자url, encoding='cp949')

In [14]:
data[7]

                   0                  1
0   PERlEPS(2021.03)  19.06배  l  4,165원
1          추정PERlEPS  14.00배  l  5,692원
2  PBRlBPS (2021.03)     ∞배  l  39,126원
3      배당수익률l2020.12              3.77%

### 3) Selenium 라이브러리 활용  

* selenium 설치: conda install selenium
* chromedriver 다운로드 : https://sites.google.com/a/chromium.org/chromedriver/downloads

In [16]:
from selenium import webdriver

In [17]:
driver = webdriver.Chrome('chromedriver')

In [18]:
#동적웹피이지에서 데이터로딩 시간을 줌
driver.implicitly_wait(3)

In [19]:
#일별 시세 웹페이지 url로 변경
삼성전자url='https://finance.naver.com/item/sise_day.nhn?code=005930'
driver.get(삼성전자url)

In [20]:
html = driver.page_source

In [21]:
data = pd.read_html(html, encoding ='cp949')

In [22]:
삼성_일별 = data[0][data[0].날짜.notnull()]

In [23]:
#실습, 모든 기간의 삼성전자 데이터 스크래핑

url = 'https://finance.naver.com/item/sise_day.nhn?code=005930&page='

일별주가 =[]

for num in range(1,200):
    full_url = url +str(num)
    driver.get(full_url)
    html = driver.page_source
    data = pd.read_html(html, encoding='cp949')
    삼성_일별 = data[0][data[0].날짜.notnull()]
    일별주가.append(삼성_일별)

In [24]:
일별주가[1]

            날짜       종가     전일비       시가       고가       저가         거래량
1   2021.06.25  81600.0   400.0  81500.0  81900.0  81200.0  13481405.0
2   2021.06.24  81200.0  1100.0  80400.0  81400.0  80100.0  18771080.0
3   2021.06.23  80100.0   100.0  80500.0  80600.0  79900.0  13856548.0
4   2021.06.22  80000.0   100.0  80200.0  80300.0  79900.0  11773365.0
5   2021.06.21  79900.0   600.0  79700.0  80000.0  79600.0  16063340.0
9   2021.06.18  80500.0   400.0  81100.0  81100.0  80500.0  14916721.0
10  2021.06.17  80900.0   900.0  81100.0  81300.0  80700.0  14007385.0
11  2021.06.16  81800.0   900.0  81500.0  81900.0  81100.0  14999855.0
12  2021.06.15  80900.0   400.0  80900.0  81200.0  80600.0  10075685.0
13  2021.06.14  80500.0   500.0  80800.0  80900.0  80500.0  10550078.0

In [25]:
삼성전자_일별_최종데이터 =pd.concat(일별주가)

In [26]:
삼성전자_일별_최종데이터

,날짜,종가,전일비,시가,고가,저가,거래량
1,2021.07.09,79400.0,500.0,79600.0,79800.0,79000.0,22411437.0
2,2021.07.08,79900.0,900.0,81100.0,81200.0,79900.0,16660998.0
3,2021.07.07,80800.0,400.0,81200.0,81300.0,80300.0,15992202.0
4,2021.07.06,81200.0,800.0,80600.0,81200.0,80500.0,12131651.0
5,2021.07.05,80400.0,400.0,80100.0,80800.0,80000.0,8330969.0
...,...,...,...,...,...,...,...
9,2013.06.13,1357000.0,28000.0,1380000.0,1397000.0,1357000.0,670197.0
10,2013.06.12,1385000.0,4000.0,1378000.0,1403000.0,1362000.0,457753.0
11,2013.06.11,1389000.0,36000.0,1411000.0,1419000.0,1378000.0,692260.0
12,2013.06.10,1425000.0,2000.0,1420000.0,1443000.0,1414000.0,533554.0
13,2013.06.07,1427000.0,94000.0,1475000.0,1485000.0,1424000.0,1085816.0

## 4. 데이터베이스에서 읽기
### 파이썬에 내장(embedded)된 sqlite 사용

In [49]:
import sqlite3

In [60]:
#테이블 생성 SQL 정의
테이블생성 = 'CREATE TABLE locations \
                (a varchar[20], b varchar[20], c integer)'

In [61]:
#sqlite 접속
conn=sqlite3.connect('temp.db')

In [62]:
# commit() 수행. - SQL 수행 후, commit을 해야만, 데이터베이스에 SQL 구문이 적용됨 
conn.commit()

In [63]:
#생성된 테이블에 저장할 데이터 정의
data = [['서울','강남', 15]
       ,['서울','강동', 10]
       ,['서울','동대문', 7]
       ,['서울','양천', 12]
       ,['성남','분당', 12]
       ,['수원','영통', 15]
       ,['성남','중원', 11]
       ,['수원','팔달', 14]
       ]

In [64]:
# 데이터 적재 SQL 정의 
삽입 ='insert into locations values(?,?,?)'

In [65]:
#데이터 적재 SQL 수행 
conn.executemany(삽입, data)

In [66]:
# commit() 수행 
conn.commit()

In [67]:
#Select SQL 실행1
pd.read_sql('select * from locations', conn)

     a    b   c
0   서울   강남  15
1   서울   강동  10
2   서울  동대문   7
3   서울   양천  12
4   성남   분당  12
5   수원   영통  15
6   성남   중원  11
7   수원   팔달  14
8   서울   강남  15
9   서울   강동  10
10  서울  동대문   7
11  서울   양천  12
12  성남   분당  12
13  수원   영통  15
14  성남   중원  11
15  수원   팔달  14
16  서울   강남  15
17  서울   강동  10
18  서울  동대문   7
19  서울   양천  12
20  성남   분당  12
21  수원   영통  15
22  성남   중원  11
23  수원   팔달  14

In [68]:
#Select SQL 실행2
pd.read_sql('select a, sum(c) from locations group by a', conn)

    a  sum(c)
0  서울     132
1  성남      69
2  수원      87

In [69]:
# 데이터베이스의 테이블 크기가 큰 경우에는 cursor 사용하기
cursor = conn.execute('select * from locations')

In [70]:
cursor

In [72]:
cursor.fetchmany(3)

[('서울', '양천', 12), ('성남', '분당', 12), ('수원', '영통', 15)]

In [73]:
cursor.close()

In [74]:
conn.close()